/* Global */
body {
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 5rem;
  margin: 1rem;
}

.blinking-cursor {
  font-weight: 100;
  color: #2e3d48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

.about {
  display: flex;
  flex-direction: column;
  /* margin: 0 500px 0 0; */
}

.projects a,
.project a,
.about a,
.landing a {
  font-family: "Work Sans", sans-serif;
  color: black;
  text-decoration: none;
  margin: 1rem;
}

.nav a:hover {
  color: red;
}

.project {
  font-family: "Work Sans", sans-serif;
  display: grid;
  width: 60%;
  padding-top: 2.5rem;
  margin: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.project .title {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 1rem;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
}

.social {
  position: absolute;
  width: 325px;
  display: flex;
  left: calc(50% - 162.5px);
  bottom: 50px;
  font-size: 1.5rem;
}

.social .button a:hover {
  color: red !important;
}

.contact p, .about p {
  margin: 2rem;
}

.contact h1, .contact img {
  display: inline;
}
.about img {
  max-width: 100%;
  margin: 0 140px 0 0;

}

.about img, img#fish {
  position: absolute;
  width: 20%;
  /* max-width: 100px; */
  max-width: 100%;
  right: 10%;
}

.projects h1 {
  display: inline;
}

.projects img {
  width: 25%;
  display: inline;
}

.nav {
  display: flex;
  position: absolute;
  top: 15em;
  right: -12em;
  color: black;
  transform: rotate(90deg);
  width: 500px;
}

.nav ul {
  display: inline-flex;
}

.nav li {
  margin: 2rem;
  list-style-type: none;
}


li a {
  text-decoration: none;
  color: black;
}

.project img {
  margin: 0 0 1rem 0;
  width: 50%;
}

@keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

.homeButton img{
  position: absolute;
  left: 0;
  top: 0;
  width: 10%;
}
