/* Global */
body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 5rem;
  margin: 2rem;
}

.about {
  display: flex;
  flex-direction: column;
}

.projects a,
.project a,
.about a,
.landing a {
  font-family: "Work Sans", sans-serif;
  color: black;
  text-decoration: none;
  margin: 1rem;
}

a#contact {
  color: red;
}

.projectList {
  margin: 0.5em;
}

.projectClass a {
  margin: 0;
  color: red;
}

.projectClass a:hover,
.about a:hover,
.project a:hover {
  color: red;
  border-bottom: 2px solid red;
}

.projectClass {
  margin: 0 0 2rem 0;
  max-width: 90%;
  font-size: 1.25rem;
}

.project img {
  max-width: 90%;
  margin-bottom: 1.5rem;
}

.nav a:hover {
  color: red;
  border-bottom: 2px solid red;
}

.project {
  font-family: "Work Sans", sans-serif;
  width: 50%;
  margin: 1.5rem;
}

.project .title {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 1rem;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
}

.header input {
  font-family: "Work Sans", sans-serif;
  font-size: 5rem;
  font-weight: 800;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
  margin: 2rem;
}
.header input:focus {
  border-width: 0;
  outline: none;
}

.social {
  position: absolute;
  width: 325px;
  display: flex;
  left: calc(50% - 162.5px);
  bottom: 50px;
  font-size: 1.5rem;
}

.social .button a:hover {
  color: red !important;
  border-bottom: 2px solid red;
}

.contact p {
  margin: 2rem;
}

.about p {
  margin: 0.5rem 2rem;
}

.about img {
  max-width: 100%;
  margin: 0 140px 0 0;
}

.about img,
img#fish {
  position: absolute;
  width: 20%;
  max-width: 100%;
  right: 10%;
}

img#fish {
  width: 40%;
}

.projectsContainer {
  font-size: 1.25rem;
  margin: 3rem 0;
}

.projectsContainer a {
  margin: 0 0 0 1.5rem;
}

.projectsContainer a:hover {
  color: red;
  border-bottom: 2px solid red;
}

.nav {
  display: flex;
  position: absolute;
  top: 15em;
  right: -11em;
  color: black;
  transform: rotate(90deg);
  width: 500px;
}

.nav ul {
  display: inline-flex;
}

.nav li {
  margin: 2rem;
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: black;
}

a.active {
  color: red;
  border-bottom: 2px solid red;
}

.back {
  margin: 2rem 0;
}

.back a {
  margin: 2rem 0;
}

.homeButton img {
  position: absolute;
  left: 0;
  top: 0;
  width: 10%;
}

/* responsive design  */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    /* max-height: 100vh; */
    /* max-width: 100vw; */
    overflow: hidden;
  }

  .header input, h1  {
    margin: 1rem 3rem;
    font-size: 2.5rem;
  }

  .projectList a, .about p {
    font-size: 1rem;
    margin: 1rem 3rem;
  }

  img#fish, .about img  {
    display: none;
  }

  .model {
    /* display: flex; */
    /* width: 400px; */
    height: 700px;
  }

  .nav {
    right: -37vh;
  }

  .nav li {
    margin: .5rem;
  }

  .social {
    left: calc(50% - 130px);
    font-size: 1.1rem;
    width: 100px;
  }
}
